.App {
  margin-top: 15px;
  
}

.App .navbar-brand{
  
  align-items: center;
  display: flex;
}

.App .navbar-collapse{
  font-weight: bold;
  font-family: fantasy;
  color: #6FA0CE;  
}
.App .navbar{
  background-color: #FEFDF1;
 
}


.App .navbar-brand .ImagemHome {
  padding: 10px 14px;
  height: 80px;
}

.App .navbar-brand .ImagemCarrinho {
  
  padding: 20px 0px;
  height: 80px;
}

.App .navbar-brand .cartNumber{
  color: red;
  
}